<div class="main-body">
    <div class="box">
        <div class="form">
            <h2>Register to Cafee</h2>
            <div class="inputBox">
                <input type="text" required="required" placeholder="Name">
            </div>
            <div class="inputBox">
                <input type="email" required="required" placeholder="Email">
            </div>
            <div class="inputBox">
                <input type="text" required="required" placeholder="Phone">
            </div>
            <div class="inputBox">
                <input type="password" required="required" placeholder="Password">
            </div>
            <div class="links">
                <a routerLink="/login">Sign In</a>
            </div>
            <input type="submit" routerLink="dashboard" value="Login" class="loginBtn">
        </div>
    </div>
    </div>