<div class="main-body">
<div class="box">
    <div class="form">
        <h2>Login to Cafee</h2>
        <div class="inputBox">
            <input type="text" required="required" placeholder="Email">
        </div>
        <div class="inputBox">
            <input type="password" required="required" placeholder="Password">
        </div>
        <div class="links">
            <a routerLink="/register">Sign Up</a>
        </div>
        <input type="submit" routerLink="dashboard" value="Login" class="loginBtn">
    </div>
</div>
</div>